@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared style */

.display-flex{
    display: flex;
}
/* Dark01 */
.text-black{
    color: rgba(19, 19, 19, 1);
}
/* Dark02 */
.text-grey{
    color: rgba(66, 66, 66, 1);
}
/* Dark03 */
.text-light-grey{
    color: rgba(114, 114, 114, 1);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-btn{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
    transition-duration: 0.4s;
}
.primary-btn:hover{
    background-color: rgb(70, 11, 199); /* Hover background color */
    cursor: pointer;
    
}
main, footer{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    opacity: 100%;
    font-size: 3.7rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 15px;
}

/* Header Style */

/* styles for navbar */
.navbar{
    justify-content:space-between;
    align-items: center;
    
}
.brand{
    font-weight: 700;
    font-size: 2.7rem;
}
.nav-links{
    /* gap: 30px; */
    
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* Banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.banner-img{
    width: 100%;
}
/* styles for team and feature section */

.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-feature{
    margin-left: 75px;
    max-width: 535px;
}
.feature-title{
    opacity: 100%;
    font-size: 3.7rem;
}
#quick-list{
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
}
#of-our{
    font-weight: 700;
    color: rgba(19, 19, 19, 1);
}
#feature{
    color: rgba(255, 144, 14, 1);
    font-weight: 700;
}
/* Feature section related styles */
.features-section{
   gap: 140px;
}
.feature-section-title{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px ;
}
.feature-section-description{
    max-width: 580px;
}
.feature-card{
    max-width: 580px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px 30px 20px 20px;
    margin-bottom: 20px;
}
.feature-card-title{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(19, 19, 19, 1);
    margin-top: 0px;
    margin-bottom: 0px;
}
/* Styles for facts section */
.facts-description{
    font-size: 1rem;
    max-width: 540px;
    font-weight: 400;
    margin-bottom: 30px;

}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
   
}

.fact-card{
    border: 2px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
}
.fact-number{
    color: rgba(66, 66, 66, 1);
    font-size:  2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(114, 114, 114, 1);
    margin-top: 5px;
}
/* Sponsors style start here*/
.sponsor-content{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
    gap: 10px;
}
.sponsor-img-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 30px;
    margin-bottom: 30px;
}
.sponsor-img-container > img{
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
.sponsor-img-container > img:hover {
    filter: grayscale(0%);
}
/* Footer styles */
footer{
    height: 100px; 
    display: flex;
    justify-content: center;
    
}
.footer-description{
    margin: 30px auto;
    align-items: center; 
    text-align: center; 
   
}
/* Media query for Small device */
@media screen and (max-width:576px){
    .navbar,
    .teams{
        flex-direction: column;
    }
    .nav-links{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .team-img-container, 
    .fact-container,
    .sponsor-img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
    }
    .fact-container, .sponsor-img-container, .footer-description{
        justify-items: center; 
    }
    .team-feature, .section-title, .facts-description{
        margin-left: 20px;
    }
    .footer-description{
        margin: 20px;
    }

}
/* Media query for medium device */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
    }
    .fact-container,
    .sponsor-img-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }
    
    .team-feature, 
    .section-title, 
    .facts-description{
        text-align: center;
        margin: 10px auto;
    }
    .fact-container,.sponsor-img-container{
        justify-items: center;
    }
}